
.log{
    font-weight: bold;
    font-size: 40px;
    color: #f6D238;
}
nav a{
    transition: 0.5s;
}

nav a:hover {
    background-color: #fff;
    padding: 10px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

.btn_con{
    background-color: #f6D238;
    padding: 10px;
    color: black;
    font-weight: bold;
    border:2px solid #f6D238;
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(0,0, 0, 0.2);
}

.btn_con:hover{
    background-color: #f1f1f1;
}

.article{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
}
.article img{
    position: absolute;
    object-fit: cover;
    border: 8px solid #f1f1f1;
    box-shadow: 5px 5px 30px rgba(0, 0,0, 0.3);
    border-radius: 10px;
}
.image-1{
    width: 50%;
    height: 50%;
    transition: 0.5s;
    left: 680px;
    top: 500px;

}
.image-2{
    width: 50%;
    height: 50%;
    transition: 0.5s;
    top:300px;
    left: 200px;

}

.image-1:hover{
    transform: scale(1.1) rotate(5deg);
    
}
.image-2:hover{
    transform: scale(1.1) rotate(-5deg);
}

.galerie{
    margin: 40px;
    
}

.galerie .image{
    height: 500px;
    box-shadow: 5px 5px 30px rgba(0, 0,0, 0.3);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #f1f1f1;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;

}

.image img{
    object-fit: cover;
    height: 60%;
    width: 100%;
    border-radius:20px ;
}

.galerie .image:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 30px rgba(0, 0,0, 0.3);
    transition: 0.5s;

}